*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
h1{
    color: #007BFF;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
nav{
    margin-bottom: 20px;
    background-color: #1a0c0c;
    padding: 10px;
    border: 1px solid #1d1010;
}
nav ul{
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    print-color-adjust: exact;
    justify-content: space-between;

}
nav ul li{
    display: inline;
    margin-right: 15px;

}
nav ul li a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s;
    text-decoration: none;

}
nav ul li a:hover{
    text-decoration: underline;
}
/* End of style.css */